@import '@/scss/mixins.scss';

.upload {
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    @include SmallTablet {
        width: 95px;
        height: 95px;
    }

    &::after {
        content: '';
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    input[type=file] {
        width: 160px;
        height: 160px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    label {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}