@import '@/scss/variables.scss';

.page {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 30px;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .profile {

            &__wrapper {
                display: flex;
                flex-direction: column;
            }

            &__content {
                display: flex;
                align-items: flex-start;
                gap: 30px;
            }
        }

        .anime {

            &__wrapper {
                display: flex;
                flex-direction: column;
            }

            &__content {
                background-color: $thirtyBg;
                box-shadow: $shadow;
                border-radius: 10px;
                width: 100%;
                height: 140px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 16px;
                    line-height: 135%;
                    color: $secondary;
                }
            }
        }

        .sessions {

            &__wrapper {
                display: flex;
                flex-direction: column;
            }

            &__item {
                background-color: $thirtyBg;
                box-shadow: $shadow;
                border-radius: 10px;
                width: 100%;
                height: 140px;
                padding-left: 30px;
                display: grid;
                grid-template-columns: 3fr 2fr 2fr 65px;
                align-items: center;
                gap: 30px;
                overflow: hidden;

                &__os {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    &__info {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        h3 {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 135%;
                            color: $primary;
                        }

                        p {
                            font-size: 14px;
                            line-height: 135%;
                            color: $secondary;
                        }
                    }
                }

                &__date {
                    color: $thirty;
                    font-size: 14px;
                    line-height: 135%;
                }

                &__current {
                    line-height: 135%;
                    color: $primary;
                    font-size: 14px;
                }

                &__remove {
                    height: 100%;
                    background-color: $primary-100;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 24px;
                        height: 24px;

                        path {
                            fill: $primary;
                        }
                    }

                    &__dark {
                        height: 100%;
                        background-color: $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 24px;
                            height: 24px;

                            path {
                                fill: $primary;
                            }
                        }
                    }
                }

            }
        }

        .notifications {

            &__wrapper {
                display: flex;
                flex-direction: column;
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}