@import '@/scss/variables.scss';

.page {

    &__wrapper {
        display: grid;
        grid-template-columns: 75% 25%;
        gap: 30px;

        @media screen and (max-width:1350px) {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__categories {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        &__load {
            width: 100%;
            box-shadow: $shadow;
            border-radius: 10px;
            background-color: $secondaryBg;
            padding: 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 135%;
            color: $primary;
        }
    }
}