@import '../../scss/variables.scss';

.page {

    &__wrapper {
        display: grid;
        grid-template-columns: 9fr 3fr;
        gap: 30px;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__categories {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        &__load {
            width: 100%;
            box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
            border-radius: 10px;
            background-color: $secondaryBg;
            padding: 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 135%;
            color: $primary;
        }
    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: 50px;

        &__news {
            display: flex;
            flex-direction: column;

            &__items {
                display: flex;
                flex-direction: column;
                gap: 20px;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                }
            }
        }

        &__reviews {

            &__items {
                display: flex;
                flex-direction: column;
                gap: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                }
            }

        }

        &__socials {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 135%;
                color: $white;
                padding: 20px;
                box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                border-radius: 10px;
                text-align: center;
            }

            &__instagram {
                background: linear-gradient(93.38deg, #C000C4 0%, #EE7200 100%), #FAFAFA;
            }

            &__telegram {
                background: linear-gradient(93.38deg, #97C7FF 0%, #0679FF 100%), #FAFAFA;
            }

            &__youtube {
                background: linear-gradient(93.38deg, #DA1414 0%, #9F0000 100%);
            }
        }
    }

}