@import '@/scss/variables.scss';

.rating {

    backdrop-filter: blur(5px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 71px;
    height: 32px;

    span {
        line-height: 135%;
        color: $primary;
        padding-top: 2px;
    }

    &__primary {
        background: $opacity-bg;
    }

    &__secondary {
        background-color: $mainBg;
    }

    svg {
        path {
            fill: $star;
        }
    }
}