@import '@/scss/variables.scss';

.input {
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;

    button {
        width: 24px;
        height: 24px;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    input {
        padding-top: 2px;
        width: 100%;
        font-size: 16px;
        line-height: 135%;
        color: $secondary;

        &::placeholder {
            color: $thirty;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    svg {
        path {
            fill: $secondary;
        }
    }
}