@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.block {
    display: grid;
    grid-template-columns: 3fr 6fr;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 10px;
    width: 100%;

    @include SmallTablet {
        grid-template-columns: 4fr 5fr;
    }

    @media screen and (max-width:625px) {
        display: flex;
        flex-direction: column;
    }

    &__card {
        width: 100%;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;

        &__title {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                font-weight: 500;
                font-size: 24px;
                line-height: 135%;
                color: $primary;
            }

            p {
                font-size: 16px;
                line-height: 135%;
                color: $thirty;
            }

            &__rating {
                background-color: $black;
            }
        }

        &__main {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 7;
            overflow: hidden;
            line-height: 135%;
            color: $primary-200;
        }

        &__button {
            background-color: $primary;
            padding: 12px 32px;
            box-shadow: $shadow;
            border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 135%;
            color: $white;
            border: 1px solid $primary;
            transition: all .3s ease-in;

            &:hover {
                background-color: transparent;
                color: $primary;
            }
        }
    }
}