@import '@/scss/variables';

.aside {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__news {
        display: flex;
        flex-direction: column;

        &__items {
            display: flex;
            flex-direction: column;
            gap: 20px;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }
    }

    &__reviews {

        &__items {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (max-width:1350px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }

    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (max-width:1350px) {
            display: none;
        }

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 135%;
            color: #FFFFFF;
            padding: 20px;
            box-shadow: $shadow;
            border-radius: 10px;
            text-align: center;
        }

        &__instagram {
            background: linear-gradient(93.38deg, #C000C4 0%, #EE7200 100%), #FAFAFA;
        }

        &__telegram {
            background: linear-gradient(93.38deg, #97C7FF 0%, #0679FF 100%), #FAFAFA;
        }

        &__youtube {
            background: linear-gradient(93.38deg, #DA1414 0%, #9F0000 100%);
        }
    }
}