@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.footer {
    padding: 50px 0 60px;
    background-color: $white;

    @include Mobile {
        padding: 30px 0 40px;
    }

    h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $primary;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        position: relative;

        @include SmallTablet {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__copyright {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: $thirty;
            }

            @include Mobile {
                max-width: 160px;
                width: 100%;
            }
        }

        &__socials {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    &__categories {
        display: flex;
        gap: 120px;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                    color: $secondary;
                    font-size: 16px;
                    line-height: 18px;
                    transition: all .2s ease-in-out;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        width: 100%;

        @media screen and (max-width:1200px) {
            display: none;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                font-size: 14px;
                line-height: 18px;
                color: $secondary;
            }
        }
    }

    &__up {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: all .3s ease-in;


        @include SmallTablet {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__light {
            background-color: $primary;
            border: 1px solid $primary;
        }

        &__dark {
            background-color: $mainBg;
            border: 1px solid $mainBg;
        }

        &:hover {
            background-color: transparent;

            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }
}