@import '../../scss/variables.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    font-size: 16px;
    line-height: 135%;
    border-radius: 10px;
    padding: 14px;

    &__facebook {
        border: 1px solid $blue;
        background-color: $blue;
        color: $white;
        transition: all .3s ease-in;

        &:hover {
            color: $blue;
            background-color: transparent;
        }
    }

    &__google {
        border: 1px solid $white;
        background-color: $white;
        color: $secondary;
        transition: all .3s ease-in;

        &:hover {
            color: $secondary;
            background-color: transparent;
        }
    }
}