@import '@/scss/reset.scss';
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1260px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;

    @include Mobile {
        padding: 0 25px;
    }
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}