$primary: #DA1414;
$primary-100: #FBD0D0;
$secondary: #404156;
$thirty: #9F9F9F;

$blue: #0053B5;

$viewed: #00CAA6;
$watching: #CAC200;
$thrown: #CA3000;
$will-watch: #9500CA;

$mainBg: #F6F6F6;
$secondaryBg: #FAFAFA;
$thirtyBg: #FCFCFC;

$white: #FFFFFF;
$black: #000000;