$primary: #DA1414;
$secondary: #404156;
$thirty: #9F9F9F;
$blue: #0053B5;

$viewed: #00CAA6;
$watching: #CAC200;
$thrown: #CA3000;
$mainBg: #F6F6F6;
$will-watch: #9500CA;

$white: #FFFFFF;
$black: #000000;