@import '@/scss/variables.scss';

.accordion {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__main {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &:hover &__head__title h3,
        p {
            color: $primary;
        }

        &__head {

            &__title {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 135%;
                    max-width: 190px;
                    width: 100%;
                    transition: all .3s ease-in;
                }

                &__default {
                    color: $secondary;
                }

                &__active {
                    color: $primary;
                }

                .icon {
                    height: 20px;
                    width: 20px;

                    &__active {
                        transition: transform .3s ease-in;
                        transform: rotate(180deg);

                        path {
                            fill: $primary;
                        }
                    }

                    &__default {
                        transition: transform .3s ease-in;
                        transform: rotate(0deg);
                    }
                }

            }

        }
    }

    &__content {
        a {
            opacity: 0;
            animation: Visible 1.5s forwards;
        }

        @keyframes Visible {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    p {
        font-size: 14px;
        line-height: 135%;
        color: $thirty;
        transition: all .3s ease-in;
    }

    svg {
        path {
            fill: $secondary;
        }
    }
}